integrations/n8n/data-freshness-telegram-alert.json
{
  "name": "Kist — data-freshness alert (Telegram)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "15 23 * * *"
            }
          ]
        }
      },
      "id": "node-schedule",
      "name": "Codziennie 23:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://YOUR-PROJECT.supabase.co/rest/v1/market_prices?select=date&order=date.desc&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "node-http",
      "name": "Supabase: latest quote date",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Supabase anon key (apikey)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assess market-data freshness from Supabase (market_prices table).\n// Input: the HTTP response from Supabase (latest quote date).\nlet data = $input.all().map((i) => i.json);\n// HTTP Request may return an array as a single item — flatten just in case.\nif (data.length === 1 && Array.isArray(data[0])) data = data[0];\n\nconst latest = data.length && data[0] ? data[0].date : null;\n\nconst MAX_AGE_DAYS = 2; // > this many days without fresh quotes = alert. Set -1 to force a test.\nconst ageDays = (d) => {\n  if (!d) return null;\n  const t = new Date(d + 'T00:00:00Z').getTime();\n  return Math.floor((Date.now() - t) / 86400000);\n};\nconst age = ageDays(latest);\n\nconst problems = [];\nif (latest === null) {\n  problems.push('No data in market_prices — the sync pipeline loaded nothing.');\n} else if (age > MAX_AGE_DAYS) {\n  problems.push('Quotes/FX stale: latest quote ' + latest + ' (' + age + ' days ago).');\n}\n\nconst alert = problems.length > 0;\nconst message = alert\n  ? '🔴 *Kist — data alert*\\n' + problems.map((p) => '• ' + p).join('\\n')\n    + '\\n\\nCheck the sync workflow (n8n) and Supabase.'\n  : '🟢 Kist — data fresh (latest quotes: ' + latest + ').';\n\nreturn [{ json: { alert: alert, message: message, latest: latest, age: age } }];\n"
      },
      "id": "node-code",
      "name": "Assess freshness + build alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-alert",
              "leftValue": "={{ $json.alert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Jest problem?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "node-telegram",
      "name": "Telegram: send alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1140,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Telegram bot"
        }
      }
    }
  ],
  "connections": {
    "Codziennie 23:15": {
      "main": [
        [
          {
            "node": "Supabase: latest quote date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: latest quote date": {
      "main": [
        [
          {
            "node": "Assess freshness + build alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess freshness + build alert": {
      "main": [
        [
          {
            "node": "Jest problem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jest problem?": {
      "main": [
        [
          {
            "node": "Telegram: send alert",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}